body {
  font-family: Damion;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('/images/closet_background.jpg') no-repeat center center fixed;
  -webkit-background-origin:border;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home {
	color: white;
}

.nav {
	color: white;
	border-bottom: 2px white;
}

.home_options {
	font-family: Arima Madurai;
}

font-family: 'Damion', cursive;
font-family: 'Arima Madurai', cursive;