body {
  font-family: Damion;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/images/closet_background.jpg') no-repeat center center fixed;
  -webkit-background-origin:border;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: gray;
	text-decoration: none;
	transition: all .2s ease-in-out;
}
.home {
	color: white;
}

.nav {
	color: white;
	border-bottom: 2px white;
}

.home_options {
	font-family: Arima Madurai;
}


#search_button {
	border-radius:3px; 
	width:20%; 
	background-color: #d69957; 
	color:white;
	transition: all .2s ease-in-out;
}

#search_button:hover {

	background-color: white; 
	color:#d69957;
}

#search_bar {
	font-family: Arima Madurai;
	border-radius:3px; 
	width:75%; 
	margin:auto; 
	background-color: rgba(0,0,0,0); 
	color:white;
	box-shadow: none;
}

font-family: 'Damion', cursive;
font-family: 'Arima Madurai', cursive;