body {
  font-family: Damion;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: gray;
	text-decoration: none;
	transition: all .2s ease-in-out;
}
.home {
	color: white;
}

.nav {
	color: white;
	border-bottom: 2px white;
}

.home_options {
	font-family: Arima Madurai;
}

.product_body {
	color: white;
	background: rgba(0,0,0);
	font-family: Damion;
}

.product_pic {
	border-radius: 2%;
	transition: all .3s ease-in-out;
}

.product_pic:hover {
	-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
	transform: scale(1.05);
	transition: .3s ease;
}


#search_button {
	border-radius:3px; 
	width:20%; 
	background-color: #d69957; 
	color:white;
	transition: all .2s ease-in-out;
}

#search_button:hover {

	background-color: white; 
	color:#d69957;
}

#product_add_btn {
	margin-top: 10%;
	border-radius:3px; 
	width:70%; 
	background-color: #d69957; 
	color:white;
	transition: all .2s ease-in-out;
}

#product_add_btn:hover {
	background-color: white; 
	color:#d69957;
}

#search_bar {
	font-family: Arima Madurai;
	border-radius:3px; 
	width:75%; 
	margin:auto; 
	background-color: rgba(0,0,0,0); 
	color:white;
	box-shadow: none;
}

#site_link {
	color: #d69957;
	transition: all .2s ease-in-out;
}

#site_link:hover {
	color: white;
}


font-family: 'Damion', cursive;
font-family: 'Arima Madurai', cursive;