<!DOCTYPE html>
<html>
	<head>
		<title>Click-In Closet: Create Account</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Arima Madurai" rel="stylesheet">
		<link rel="icon" type="image/ico" href="/images/hanger_black.ico" />
	</head>
	<body class="landing_body">
		<a href="/"><img style="margin: 1%" src="/images/hanger.png" width="50px"/></a>
		<div class="row error_div">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<p id="errorMessage" style="display:none"></p>
			</div>
			<div class="col-md-3"></div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="login_form col-md-6">
				<h1 style="font-size: 30px">Create Your Click-In Closet Account!</h1>
				<form>
				  <div class="form-group">
				    <label for="firstName">First Name</label>
				    <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
				  </div>
				  <div class="form-group">
				    <label for="lastName">Last Name</label>
				    <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
				  </div>
				  <div class="form-group">
				    <label for="email">Email Address</label>
				    <input type="text" class="form-control" id="email" placeholder="Enter your email address">
				  </div>
				  <div class="form-group">
				    <label for="password">Password</label>
				    <input type="password" class="form-control" id="password" placeholder="Enter your password">
				  </div>
				  <div class="form-group">
				    <label for="passwordConf">Confirm Password</label>
				    <input type="password" class="form-control" id="passwordConf" placeholder="Please confirm password">
				  </div>
				</form>
				<button style="margin-top: 2%" type="submit" class="btn btn-default button-form" onclick="createAccount()">Create Account</button>
			</div>
			<div class="col-md-3"></div>
		</div>

		<script type="text/javascript" src="/javascripts/common.js"></script>
		<script type="text/javascript">
		function createAccount() {
			var firstName = document.getElementById("firstName").value
			var lastName = document.getElementById("lastName").value
			var email = document.getElementById("email").value
			var password = document.getElementById("password").value
			var passwordConf = document.getElementById("passwordConf").value
			if (password != passwordConf) {
				location.href="/create_account#"
			}
			else if (firstName.length == 0 || lastName.length == 0 || email.length == 0 || password.length == 0 || passwordConf.length == 0) {
				location.href="/create_account&"
			}

			else {
				location.href="/create_account/" + email + "/" + password + "/" + firstName + "/" + lastName
			}
		}

		var urlVar = getQueryVariable(1)
			console.log(urlVar)
			document.getElementById("errorMessage").style.display = "inline";
			if (urlVar == "create_account%") {
				document.getElementById("errorMessage").innerHTML = "Account already exists with that email";
			}
			else if (urlVar == "create_account#") {
				document.getElementById("errorMessage").innerHTML = "Passwords do not match";
			}
			else if (urlVar == "create_account&") {
				document.getElementById("errorMessage").innerHTML = "Input field(s) incomplete";
			}

		</script>
	</body>
</html>
