<!DOCTYPE html>
<html>
	<head>
		<title>Click-In Closet</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top">
		  <div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3">
					<div class="navbar-header">
						<a id="brandLink" class="navbar-brand" href="/">
							<img alt="Brand" src="images/hanger.png" width="70px">
						</a>
						<h1 id="userBanner" style="text-align:left; font-weight: 900; font-size:18px; margin-left:5px; float: left;">Click-In Closet</h1>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6" style="text-align:center;">
				 <form class="navbar-form" role="search" style="width:100%;">
					<div class="form-group" style="width:100%; padding-top:6px;">
						<input type="text" class="form-control" placeholder="Search across catalogs..." style="border-radius:10px; color:red; width:75%; margin:auto;">
						<button type="submit" class="btn btn-default" style="border-radius:10px; width:20%;">Search</button>
					</div>
				 </form>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<p class="navbar-text pull-right" style="color: white; font-size:16px; padding-top:6px;"><a class="navbar-link">Account</a></p>
				</div>
			</div>
		  </div>
		</nav>
		<div class="home">
			<center><h1>Welcome to Click-In Closet!</h1><center>
		</div>
	</body>
</html>
