<!DOCTYPE html>
<html>
	<head>
		<title>Click-In Closet: Login</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Proxima Nova" rel="stylesheet">
		<link rel="icon" type="image/ico" href="/images/hanger_black.ico" />
	</head>
	<body class="landing_body">
		<a href="/"><img style="margin: 1%" src="/images/hanger.png" width="50px"/></a>
		<div class="row error_div">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<p id="errorMessage" style="display:none"></p>
			</div>
			<div class="col-md-3"></div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="login_form col-md-6">
				<h1 style="font-size: 30px">Log Into Your Account</h1>
				<form>
				  <div class="form-group">
				    <label for="email">Email Address</label>
				    <input type="text" class="form-control" id="email" placeholder="Enter your account email">
				  </div>
				  <div class="form-group">
				    <label for="password">Password</label>
				    <input type="password" class="form-control" id="password" placeholder="Enter your password">
				  </div>
				</form>
				<button type="submit" class="btn btn-default button-form" onclick="login()">Login</button>
			</div>
			<div class="col-md-3"></div>
		</div>

		<script type="text/javascript" src="/javascripts/common.js"></script>
		<script type="text/javascript">

			var urlVar = getQueryVariable(1)
			console.log(urlVar)
			document.getElementById("errorMessage").style.display = "inline";
			if (urlVar == "login%") {
				document.getElementById("errorMessage").innerHTML = "Input field(s) incomplete";
			}
			else if (urlVar == "login#") {
				document.getElementById("errorMessage").innerHTML = "Incorrect username or password";
			}

			function login() {
				var email = document.getElementById("email").value
				var password = document.getElementById("password").value
				if (email.length == 0 || password.length == 0) {
					location.href="/login%"
				}
				else {
					location.href = "/login/" + email + "/" + password
				}
				
			}
		</script>
	</body>
</html>
