<!DOCTYPE html>
<html>
	<head>
		<title id="page-title">Click-In Closet: Add to Outfit</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Proxima Nova" rel="stylesheet">
		<link rel="icon" type="image/ico" href="/images/hanger_black.ico" />
	</head>
	<body class="search-body">
		  <div class="nav container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3">
					<div class="navbar-header">
						<a id="brandLink" class="navbar-brand" href="/home">
							<img alt="Brand" src="/images/hanger.png" width="50px">
						</a>
						<a href="/home"><h1 id="userBanner" style="text-align:left; font-size:18px; margin-left:5px; float: left;">Click-In Closet</h1></a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6" style="text-align:center;">
				 <form class="navbar-form" role="search" style="width:100%;">
					<div class="form-group" style="width:100%; padding-top:6px;">
						<input type="text" class="form-control" placeholder="Search across catalogs..." id="search_bar">
						<div class="btn btn-default" id="search_button" onclick="search()">Search</div>
					</div>
				 </form>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<p class="navbar-text pull-right" style="font-family: Proxima Nova; color: white; font-size:16px; padding-top:6px;"><a href="/!">Logout</a></p>
					<a href="">
						<div class="navbar-text pull-right account-icon"><center><p id="user-initial">?</p></center></div>
					</a>
					<p class="navbar-text pull-right" style="font-family: Proxima Nova; color: white; font-size:16px; padding-top:6px;"><a href="/outfits">Your Outfits</a></p>
				</div>
			</div>
		  </div>
		  <div class="search-res-view">
		  	<center><h2 id="result-header" style="padding: 2%">To which outfit would you like to add this item?</h2><center>
		  	<div class="outfit-table">
			  	<div class="col-md-1 col-lg-1"></div>
			  	<div class="col-md-10 col-lg-10">
				  	<table class="table" id="outfit-table">
				  	</table>
				</div>
			  	<div class="col-md-1 col-lg-1"></div>
			 </div>
		  </div>
		 <script type="text/javascript" src="/javascripts/common.js"></script>
		 <script>
		 	var email = getCookie("user_email");
			var userJSON = getUserData(email)
			document.getElementById("user-initial").innerHTML = userJSON["firstName"].charAt(0)

		 	var outfitArray = userJSON["outfits"]
		 	if (outfitArray.length == 0) {
		 		document.getElementById("result-header").innerHTML = "You have not made any outfits"
		 	}
		 	console.log(JSON.stringify(outfitJSON))
		 	var table = document.getElementById("outfit-table")

	 		for (var i = 0; i < outfitArray.length; i++) {
	 			row = table.insertRow(i)
	 		    row.className="search-result"
	 		    var nameCell = row.insertCell(0)
	 		    nameCell.innerHTML = outfitArray[i]["name"]
	 		    nameCell.style="vertical-align: middle; width: 25%"
	 		    var outfitJSON = outfitArray[i]
	 		    var items = outfitJSON["items"]
	 		    var j = 0;
	 		    for (; j < 3; j++) {
	 		    	var itemCell = row.insertCell(j + 1)
	 		    	itemCell.style="width: 25%"
	 		    	if (j < items.length) {
	 		    		var img = document.createElement('img');
		 		    	img.src = items[j]["image"]
		 		    	img.style="width: 50%; margin-left: 30%"
		 		    	itemCell.appendChild(img)

	 		    	}
	 		    }
	 		    var priceCell = row.insertCell(j+1)
	 		    priceCell.innerHTML=outfitJSON["price"]
	 		    priceCell.style="vertical-align: middle; width: 25%"
	 		    row.onclick = (function() {
	 		    	var productID = getQueryVariable(1)
	 		    	var i = this.getAttribute("arrayIndex")
	 		    	var url = "/outfits/add_item/" + productID + "/" + i;
	 		    	window.location.href = url
				});
	 		}
		</script>
	</body>

</html>
