<!DOCTYPE html>
<html>
	<head>
		<title id="page-title">Outfit: Name</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Proxima Nova" rel="stylesheet">
		<link rel="icon" type="image/ico" href="/images/hanger_black.ico" />
	</head>
	<body style="background-color:black" class="product_body">
	  <div class="nav container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3">
					<div class="navbar-header">
						<a id="brandLink" class="navbar-brand" href="/home">
							<img alt="Brand" src="/images/hanger.png" width="50px">
						</a>
						<a href="/home"><h1 id="userBanner" style="text-align:left; font-size:18px; margin-left:5px; float: left;">Click-In Closet</h1></a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6" style="text-align:center;">
				 <form class="navbar-form" role="search" style="width:100%;">
					<div class="form-group" style="width:100%; padding-top:6px;">
						<input type="text" class="form-control" placeholder="Search across catalogs..." id="search_bar">
						<div class="btn btn-default" id="search_button" onclick="search()">Search</div>
					</div>
				 </form>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<p class="navbar-text pull-right" style="font-family: Proxima Nova; color: white; font-size:16px; padding-top:6px;"><a href="/!">Logout</a></p>
					<a href="">
						<div class="navbar-text pull-right account-icon"><center><p id="user-initial">?</p></center></div>
					</a>
					<p class="navbar-text pull-right" style="font-family: Proxima Nova; color: white; font-size:16px; padding-top:6px;"><a href="/outfits">Your Outfits</a></p>
				</div>
			</div>
		  </div>
	  <div style="margin-top: 1%; font-family: Proxima Nova">
	  	<div class="row">
	  		<center><h2 id="outfit_header">Your Outfit: NAME</h2></center>
		</div>
		<div class="row">
	  		<center><h3 id="outfit_price">Total Price: PRICE</h3></center>
		</div>
		<div class="row" style="margin-bottom: 2%">
			<div class="col-md-4 col-lg-4 outfit_item">
				<a class="picture_link" href=""><img class="item_image"/></a>
				<a class="name_link" href=""><p class="item_name"></p></a>
				<p class="item_price"></p>
				<img class="item_brand"/>
			</div>
			<div class="col-md-4 col-lg-4 outfit_item">
				<a class="picture_link" href=""><img class="item_image"/></a>
				<a class="name_link" href=""><p class="item_name"></p></a>
				<p class="item_price"></p>
				<img class="item_brand"/>
			</div>
			<div class="col-md-4 col-lg-4 outfit_item">
				<a class="picture_link" href=""><img class="item_image"/></a>
				<a class="name_link" href=""><p class="item_name"></p></a>
				<p class="item_price"></p>
				<img class="item_brand"/>
			</div>
		</div>
		<div class="row" style="margin-bottom: 2%">
			<div class="col-md-4 col-lg-4 outfit_item">
				<a class="picture_link" href=""><img class="item_image"/></a>
				<a class="name_link" href=""><p class="item_name"></p></a>
				<p class="item_price"></p>
				<img class="item_brand"/>
			</div>
			<div class="col-md-4 col-lg-4 outfit_item">
				<a class="picture_link" href=""><img class="item_image"/></a>
				<a class="name_link" href=""><p class="item_name"></p></a>
				<p class="item_price"></p>
				<img class="item_brand"/>
			</div>
			<div class="col-md-4 col-lg-4 outfit_item">
				<a class="picture_link" href=""><img class="item_image"/></a>
				<a class="name_link" href=""><p class="item_name"></p></a>
				<p class="item_price"></p>
				<img class="item_brand"/>
			</div>
		</div>
		<div class="row" style="margin-bottom: 2%">
			<div class="col-md-4 col-lg-4 outfit_item">
				<a class="picture_link" href=""><img class="item_image"/></a>
				<a class="name_link" href=""><p class="item_name"></p></a>
				<p class="item_price"></p>
				<img class="item_brand"/>
			</div>
			<div class="col-md-4 col-lg-4 outfit_item">
				<a class="picture_link" href=""><img class="item_image"/></a>
				<a class="name_link" href=""><p class="item_name"></p></a>
				<p class="item_price"></p>
				<img class="item_brand"/>
			</div>
			<div class="col-md-4 col-lg-4 outfit_item">
				<a class="picture_link" href=""><img class="item_image"/></a>
				<a class="name_link" href=""><p class="item_name"></p></a>
				<p class="item_price"></p>
				<img class="item_brand"/>
			</div>
		</div>

		<script type="text/javascript" src="/javascripts/common.js"></script>
		<script type="text/javascript">
			var index = getQueryVariable(2)
			console.log(index)
			var email = getCookie("user_email");
			console.log(document.cookie)
			var userJSON = getUserData(email)
			document.getElementById("user-initial").innerHTML = userJSON["firstName"].charAt(0)
			var outfitJSON = userJSON["outfits"][index]
			var items = outfitJSON["items"]
			document.getElementById("outfit_header").innerHTML = "Your Outfit: " + outfitJSON["name"]
			document.getElementById("page-title").innerHTML = outfitJSON["name"]
			document.getElementById("outfit_price").innerHTML = "Total Price : " + outfitJSON["price"]
			var itemPics = document.getElementsByClassName("item_image")
			var itemNames = document.getElementsByClassName("item_name")
			var itemPrices = document.getElementsByClassName("item_price")
			var itemBrands = document.getElementsByClassName("item_brand")
			var pictureLinks = document.getElementsByClassName("picture_link")
			var nameLinks = document.getElementsByClassName("name_link")
			for (var i = 0; i < items.length; i++) {
				itemPics[i].src=items[i]["image"]
				itemNames[i].innerHTML=items[i]["name"]
				itemPrices[i].innerHTML=items[i]["price"]
				var imgLink = "/images/" + items[i]["brand"] + ".png"
				itemBrands[i].src=imgLink
				var productLink = "/product/" + items[i]["_id"]
				pictureLinks[i].href=productLink
				nameLinks[i].href=productLink
			}

			function addItemToOutfit() {
				var productID = getQueryVariable(1)
				var url = "/outfits/add_item/" + productID
				window.location.href = url;
			}
			


		</script>
	</body>