<!DOCTYPE html>
<html>
	<head>
		<title id="page-title">Click-In Closet: Product Name</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Proxima Nova" rel="stylesheet">
		<link rel="icon" type="image/ico" href="/images/hanger_black.ico" />
	</head>
	<body style="background-color:black" class="product_body">
	  <div class="nav container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3">
					<div class="navbar-header">
						<a id="brandLink" class="navbar-brand" href="/home">
							<img alt="Brand" src="/images/hanger.png" width="50px">
						</a>
						<a href="/home"><h1 id="userBanner" style="text-align:left; font-size:18px; margin-left:5px; float: left;">Click-In Closet</h1></a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6" style="text-align:center;">
				 <form class="navbar-form" role="search" style="width:100%;">
					<div class="form-group" style="width:100%; padding-top:6px;">
						<input type="text" class="form-control" placeholder="Search across catalogs..." id="search_bar">
						<div class="btn btn-default" id="search_button" onclick="search()">Search</div>
					</div>
				 </form>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<p class="navbar-text pull-right" style="font-family: Proxima Nova; color: white; font-size:16px; padding-top:6px;"><a href="/!">Logout</a></p>
					<a href="">
						<div class="navbar-text pull-right account-icon"><center><p id="user-initial">?</p></center></div>
					</a>
					<p class="navbar-text pull-right" style="font-family: Proxima Nova; color: white; font-size:16px; padding-top:6px;"><a href="/outfits">Your Outfits</a></p>
				</div>
			</div>
		  </div>
	  <div style="margin-top: 1%; font-family: Proxima Nova">
	  	<div class="row">
		  	<div class="col-md-1 col-lg-1"></div>
		  	<div class="col-sm-12 col-md-5 col-lg-5">
		  		<center><img id="product_pic" class="product_pic" src="http://www.forever21.com/images/1_front_750/00214348-01.jpg" width="400px" style="margin-top:10%"></center>

		  		<center><a class="product_link"><p id="site_link" style="margin-top:5%">View it on the BRAND website</p></a></center>
			</div>
			<div class="col-sm-12 col-md-5 col-lg-5">
		  		<h1 id="product_title"></h1>
		  		<a class="product_link"><img id="brand_pic" class="brand_pic" width="50%"/></a>
		  		<h2 id="product_price"></h2>
		  		<h3 id="product-category">Category: CAT</h3>
		  		<h3>Details</h3>
		  			<p id="product_description"></p>

		  		<center><button type="submit" class="btn btn-default" id="product_add_btn" onclick="addItemToOutfit()">Add to Outfit</button></center>
			</div>
			<div class="col-md-1 col-lg-1"></div>
		</div>
		<div class="row item-rec-row" id="sim-rec">
				<div class="col-sm-3 col-md-3 col-lg-3 item-rec">
					<h3>Similar Items:</h2>
				</div>
				<div class="col-sm-3 col-md-3 col-lg-3 item-rec">
					<a class="item-rec-link sim" href=""><img class="item-rec-img sim" src=""/></a>
					<p class="item-rec-name sim">Name</p>
				</div>
				<div class="col-sm-3 col-md-3 col-lg-3 item-rec">
					<a class="item-rec-link sim" href=""><img class="item-rec-img sim" src=""/></a>
					<p class="item-rec-name sim">Name</p>
				</div>
				<div class="col-sm-3 col-md-3 col-lg-3 item-rec">
					<a class="item-rec-link sim" href=""><img class="item-rec-img sim" src=""/></a>
					<p class="item-rec-name sim">Name</p>
				</div>
			</div>
		<h2 id="rec-header">Outfit Recommendations</h2>
		<div id="recommendations">
			<div class="row item-rec-row sim-rec">
				<div class="col-sm-2 col-md-2 col-lg-2 item-rec">
					<h3 class="cat-rec">Outfit 1:</h2>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 item-rec">
					<a class="item-rec-link sameItem" href=""><img class="item-rec-img sameItem" src=""/></a>
					<p class="item-rec-name sameItem">Name</p>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 item-rec">
					<a class="item-rec-link item1" href=""><img class="item-rec-img item1" src=""/></a>
					<p class="item-rec-name item1">Name</p>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 item-rec">
					<a class="item-rec-link item2" href=""><img class="item-rec-img item2" src=""/></a>
					<p class="item-rec-name item2">Name</p>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 item-rec">
					<a class="item-rec-link item3" href=""><img class="item-rec-img item3" src=""/></a>
					<p class="item-rec-name item3">Name</p>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 item-rec">
					<center><button type="submit" class="btn btn-default" id="outfit_add_btn">Add This To Your Outfits</button></center>
				</div>
			</div>

			<div class="row item-rec-row sim-rec">
				<div class="col-sm-2 col-md-2 col-lg-2 item-rec">
					<h3 class="cat-rec">Outfit 2:</h2>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 item-rec">
					<a class="item-rec-link sameItem" href=""><img class="item-rec-img sameItem" src=""/></a>
					<p class="item-rec-name sameItem">Name</p>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 item-rec">
					<a class="item-rec-link item1" href=""><img class="item-rec-img item1" src=""/></a>
					<p class="item-rec-name item1">Name</p>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 item-rec">
					<a class="item-rec-link item2" href=""><img class="item-rec-img item2" src=""/></a>
					<p class="item-rec-name item2">Name</p>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 item-rec">
					<a class="item-rec-link item3" href=""><img class="item-rec-img item3" src=""/></a>
					<p class="item-rec-name item3">Name</p>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 item-rec">
					<center><button type="submit" class="btn btn-default" id="outfit_add_btn">Add This To Your Outfits</button></center>
				</div>
			</div>

			<div class="row item-rec-row sim-rec">
				<div class="col-sm-2 col-md-2 col-lg-2 item-rec">
					<h3 class="cat-rec">Outfit 3:</h2>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 item-rec">
					<a class="item-rec-link sameItem" href=""><img class="item-rec-img sameItem" src=""/></a>
					<p class="item-rec-name sameItem">Name</p>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 item-rec">
					<a class="item-rec-link item1" href=""><img class="item-rec-img item1" src=""/></a>
					<p class="item-rec-name item1">Name</p>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 item-rec">
					<a class="item-rec-link item2" href=""><img class="item-rec-img item2" src=""/></a>
					<p class="item-rec-name item2">Name</p>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 item-rec">
					<a class="item-rec-link item3" href=""><img class="item-rec-img item3" src=""/></a>
					<p class="item-rec-name item3">Name</p>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 item-rec">
					<center><button type="submit" class="btn btn-default" id="outfit_add_btn">Add This To Your Outfits</button></center>
				</div>
			</div>
		</div>
		 <script type="text/javascript" src="/javascripts/common.js"></script>
		<script type="text/javascript">

			var email = getCookie("user_email");
			console.log(document.cookie)
			var userJSON = getUserData(email)
			document.getElementById("user-initial").innerHTML = userJSON["firstName"].charAt(0)

			var productID = getQueryVariable(1)
			var dataJSON = getProductData(productID)
			document.getElementById("page-title").innerHTML = dataJSON["brand"] + " - " + dataJSON["name"]
			document.getElementById("product_title").innerHTML = dataJSON["name"]
			document.getElementById("product-category").innerHTML = "Category: " + dataJSON["category"]
			document.getElementById("product_pic").src = dataJSON["image"]
			document.getElementById("product_price").innerHTML = dataJSON["price"]
			document.getElementById("product_description").innerHTML = dataJSON["description"]
			document.getElementById("brand_pic").src = "/images/" + dataJSON["brand"] + ".png"
			document.getElementById("site_link").innerHTML = "View it on the " + dataJSON["brand"] + " website"
			var links = document.getElementsByClassName("product_link")
			for (var i = 0; i < links.length; i++) {
				links[i].href = dataJSON["url"]
			}

			function addItemToOutfit() {
				var productID = getQueryVariable(1)
				var url = "/outfits/add_item/" + productID
				window.location.href = url;
			}

			var prodCategory = dataJSON["category"]
			if (prodCategory == "Other" || dataJSON["rec shoes"].length == 0 || dataJSON["rec shirts"].length == 0 || 
				dataJSON["rec pants"].length == 0 || dataJSON["rec outer"].length == 0) {
				document.getElementById("recommendations").style="display: none;"
				document.getElementById("rec-header").innerHTML = "Sorry! No recommendations for this item"
				document.getElementById("sim-rec").style="display: none;"

			}
			else {
				var categories = ["Shirts", "Pants & Shorts", "Jackets, Sweaters, & Outerwear", "Shoes & Other Footwear"]
				var categMap = {"Shirts" : "rec shirts", "Pants & Shorts" : "rec pants", "Jackets, Sweaters, & Outerwear" : "rec outer", "Shoes & Other Footwear" : "rec shoes"}
				var index = categories.indexOf(prodCategory)
				categories.splice(index, 1)

				var categVal = categMap[prodCategory];

				var simImages = document.getElementsByClassName("item-rec-img sim")
				var simNames = document.getElementsByClassName("item-rec-name sim")
				var simLinks = document.getElementsByClassName("item-rec-link sim")

				for (i = 0; i < simImages.length; i++) {
					var recID = dataJSON[categVal][i]
					productJSON = getProductData(recID)
					simImages[i].src = productJSON["image"]
					simNames[i].innerHTML = productJSON["name"]
					var url = "/product/" + productJSON["_id"]
					simLinks[i].href = url
				}


				var sameImages = document.getElementsByClassName("item-rec-img sameItem")
				var sameNames = document.getElementsByClassName("item-rec-name sameItem")
				var sameLinks = document.getElementsByClassName("item-rec-link sameItem")
				for (i = 0; i < sameImages.length; i++) {
					sameImages[i].src = dataJSON["image"]
					sameNames[i].innerHTML = dataJSON["name"]
					url = "/product/" + dataJSON["_id"]
					sameLinks[i].href = url
				}
				
				var j = 0;

				var item1_Images = document.getElementsByClassName("item-rec-img item1")
				var item1_Names = document.getElementsByClassName("item-rec-name item1")
				var item1_links = document.getElementsByClassName("item-rec-link item1")
				for (i = 0; i < item1_Images.length; i++) {
					var recID = dataJSON[categMap[categories[j]]][i]
					productJSON = getProductData(recID)
					item1_Images[i].src = productJSON["image"]
					item1_Names[i].innerHTML = productJSON["name"]
					url = "/product/" + productJSON["_id"]
					item1_links[i].href = url
				}
				j++

				var item2_Images = document.getElementsByClassName("item-rec-img item2")
				var item2_Names = document.getElementsByClassName("item-rec-name item2")
				var item2_links = document.getElementsByClassName("item-rec-link item2")
				for (i = 0; i < item2_Images.length; i++) {
					var recID = dataJSON[categMap[categories[j]]][i]
					productJSON = getProductData(recID)
					item2_Images[i].src = productJSON["image"]
					item2_Names[i].innerHTML = productJSON["name"]
					url = "/product/" + productJSON["_id"]
					item2_links[i].href = url
				}
				j++

				var item3_Images = document.getElementsByClassName("item-rec-img item3")
				var item3_Names = document.getElementsByClassName("item-rec-name item3")
				var item3_links = document.getElementsByClassName("item-rec-link item3")
				for (i = 0; i < item3_Images.length; i++) {
					var recID = dataJSON[categMap[categories[j]]][i]
					productJSON = getProductData(recID)
					item3_Images[i].src = productJSON["image"]
					item3_Names[i].innerHTML = productJSON["name"]
					url = "/product/" + productJSON["_id"]
					item3_links[i].href = url
				}

			}


			

			


		</script>
	</body>